
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-image: url("../images/background-image.jpg");
	background-position: top center;
	background-size: 100vw 100vh; 
    border-radius: 5px;
    background-repeat: no-repeat;
	display: flex;
	justify-content :center;
	height: 100vh; 
	align-items: center;
    font-family: Times, 'Times New Roman', serif;
    flex-wrap: wrap;
}
.card-counter{
    border: 2px solid white;
    max-width: 700px;
    min-width: 94vw;
    height: 90vh;
    margin: 30px 5px;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 3px 3px 3px white; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
h2{
    color: white;
}
h2,.output{
    text-align: center;
    font-size: 250%;
    
    padding: 15px 0;
}
.output {
    font-size: 1100%;
    margin: 0;
    font-weight: 900;
    font-family: Times, 'Times New Roman', serif;
    color: #008000;
    justify-content: center;
}

.controls{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    
}
.controls button{
    display: block;
    padding: 14px 18px;
    margin: 20px 10px;
    border-radius: 8px;
    font-weight: 450;
    outline: none;
    font-size: 180%;
    background: #10386b;
    color: white;
    border: none;

}
.controls button:hover{
    background-color: cornflowerblue;
    font-weight: 700;

}


@media (max-width: 400px) {
    .card-container {
        width: 90%;
    }
}